html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background:#FFF;
    background-image:url("../img/city-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family:"Montserrat";
}
#title-bar{
    padding:1%;
    text-align:center;
    font-size:1em;
}
#title-1{
    font-size:3em;
    font-weight:900;
    color:#1c1d53;
}
#title-1{
    font-weight:700;
}
#sensor-container{
    background:#1c1d53;
    margin:auto;
    margin-top:1%;
    padding:1%;
    width:98%;
    height:60%;
    box-sizing:border-box;
    border-radius:3vmin;
}
.summary-container{
    background:#F6F4EB;
    margin:auto;
    margin-top:1%;
    width:90%;
    height:20%;
    box-sizing:border-box;
    border-radius:3vmin;
    font-size:2em;
    padding:2%;
}
.summary-title{
    display:inline-block;
}
#summary-status{
    display:inline-block;
    font-weight:700;
    color:green;
}
.sensor-lokasi{
    color:white;
    padding-left:5%;
    font-size:2em;
    font-weight:600;
}
.sensor-flex{
    display:flex;
    column-gap:2%;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    width:100%;
    height:30%;
}
.sensor-box{
    width:30%;
    height:90%;
    border-radius:2vmin;
    padding:1%;
    box-sizing:border-box;
}
.sensor-title{
    font-weight:500;
    font-size:1.5em;
}
.sensor-value{
    font-weight:600;
    font-size:1.5em;
}
.sensor-unit{
    font-weight:500;
    font-size:1em;
}
.sensor-temp{
    background:rgb(200,200,255);
}
.sensor-humi{
    background:rgb(200,255,200)
}
.sensor-pm25{
    background:rgb(255,200,255)
}
.sensor-CO{
    background:rgb(255,200,200)
}
.sensor-CO2{
    background:rgb(200,255,255)
}
.sensor-NH4{
    background:rgb(255,255,200)
}